<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @image.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @image.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @image.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @image.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @image.zipcode %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
